/*.container{
    display: flex;
    border: 2px solid;
    border-radius: 5px;
    text-align:center;
    padding: 10px;
    margin: 15px;
    width: fit-content;
    box-shadow: 3px 2px 5px rgb(135, 124, 124);
   }
  
  .regForm{
    display:inline;  
    display: none;
  }
  .loginForm {
    display:inline;    ;
    align-items:center;
  }
  .regBtn {
    border: none;
    color: black;
    background-color: none;
  }
    
  input {
    margin:10px;
    border: 1px solid;
  }
    

  .changeForm {
    flex-direction: row;
  }
  
  a{
    text-decoration:none;
    color: green;
  }*/