html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #7678edff !important;
  margin: 0;
  min-height: 100vh;
  background-image: url("/images/background/background2.png");
  background-repeat: repeat;
  background-size: auto;
}

/*########################## Head ############################ */
header {
  background-color: #f7b801ff;
  padding: 1rem;
  text-align: center;

}

h1 a,
h1 a:hover {
  text-decoration: none;
  color: black;
}

/*########################## Nav Bar ############################ */
.navbar-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between !important;
}

.nav-item {
  flex: 0 0 auto;
}

.nav-link {
  white-space: nowrap;
}

/*
.container-fluid {
  margin-right: 0;
}
  */
.container {
  flex: 1;
}

nav {
  background-color: #f5a623;
  padding: 2px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px grey;
}

.nav-link {
  flex: 1;
}

.nav-item {
  margin: 2px;
  border-radius: 20px;
  color: black;
  font-weight: 900;
  background-color: #f5a623;
  border-color: #f5a623;
}

.nav-item a:hover,
.nav-item a:active {
  background-color: #d69601;
  border-radius: 20px;
  color: white !important;
}

/*########################## footer ############################ */
footer {
  background-color: #f7b801ff;
  padding: 1rem;
  text-align: center;
}

/*########################## Main Body ############################ */
main {
  /* margin-top: 0;
  margin-bottom: 0;
  padding-top: 5rem;
  padding-bottom: 15rem;
   justify-content: center;
  */
  background-color: white;
  flex: 1;
  display: flex;
  padding-bottom: 20rem;
  align-items: center;

}

/*########################## Font/Text Styles ############################ */
* {
  font-family: "Arimo", sans-serif;
}

/* Individual Pages */

/*########################## Index Page ############################ */

.regForm {
  display: none;
}

.logForm {
  display: block;
}


.logForm {
  display: block;
}

input {
  margin-right: 10px;
  border: 1px solid;
}

.logForm,
.regForm {
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px rgb(212, 212, 212);
  margin: auto;
}


/* styled by bootstrap inline 
button {
    margin: 10px;
    background: rgb(29, 184, 11);
    color: black;
    border: 2px solid black;
    border-radius: 1px;
    font-weight: bold;
}

a {
  text-decoration: none;
  color: green;
}
.currency-input {
  position: relative;
  display: flex;
  align-items: center;
}

.currency-symbol {
  position: absolute;
  left: 10px;
  font-size: 16px;
  pointer-events: none;
}*/

.currency-input input {
  padding-left: 25px;
  /* Adjust the padding to ensure the text doesn't overlap with the currency symbol */
}

.input-error {
  border-color: red;
}

.columnIndex {
  float: auto;
}

.columnSubLeft {
  text-align: left;
}

.columnSubRigh {
  text-align: right;
}

/*########################## Budget Page ############################ */
.budgetContainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

#budgetCalTitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}

.clearFix::after {
  content: "";
  display: table;
  clear: both;
}

.right {
  float: right;
}

/*########################## Itinerary Page ############################ */
#editItin {
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#editItin h3 {
  margin-bottom: 20px;
}

.itinInfo {
  margin-top: 20px;
}

.itin-card {
  margin-bottom: 20px;
}

.itin-card a {
  color: inherit;
  text-decoration: none;
}

.itin-card a:hover {
  text-decoration: underline;
}

.card {
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgb(212, 212, 212);
}

/*
.valueBudget {
}

.incomeBudget {
}

.budgetIncometext {
}

.budgetIncomeValue {
}

.budgetIncomePercentage {
}

.budgetExpenses {
}

.budgetExpensesText {
}

.budgetExpenseValue {
}

.budgetExpensesPercentages {
}

.calBottom {
}

.addBtnCal {
}

.calContainerAdd {
}

.addTypeCal {
}

.addDescriptionCal {
}

.addValueCal {
}

.checkmarkOutlineCal {
}

.containerCal {
}

.income {
}

.incomeTitle {
}

.incomeList {
}

.expenses {
}

.titleExpenses {
}

.listExpenses {
}
*/
/*########################## Destination Page ############################ */
#flightOption {
  display: flex;
  flex: 40%;
  justify-content: space-around;
}

#flight-card a {
  color: inherit;
  text-decoration: none;
}

#flight-card a:hover {
  text-decoration: underline;
}

#card {
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgb(212, 212, 212);
}


/*########################## Account Page ############################ */

#accountH2 {
  text-align: center;
  font-size: 50px;
}

#accountPara {
  font-size: 20px;
}

.personalDetailsAccount,
.subscriptionDetailsAccount,
.subscriptionPaymentDetails,
.travelDetails {
  text-align: left;
  font-size: 25px;

}

#accountRightUpper {
  border-style: groove;
  border-width: 5px 5px 5px;
  border-color: #000;
  padding: 20px;



}

.personalDetailsAccount h3,
.subscriptionDetailsAccount h3,
.subscriptionPaymentDetails h3,
.travelDetails h3,
.travelDetails h4 {
  text-align: center;
  font-size: 40px;

}

#accountleftImageHigher img,
#accountleftImagelower img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  display: block;

}

#accountPageEnd img {
  max-width: 100%;
  height: 130%;
  margin-bottom: 1rem;


}

.accountPageEnd img {
  max-width: 100%;
  height: 60px;
  margin-bottom: 1rem;
  display: block;
}

#accountColImageLeft {
  padding: 1rem;
}

.accountLabel {
  font-weight: bold;
}

.accountLabel span {
  font-weight: normal;
}

.accOptionValue {
  text-align: center;

  /*########################## Accommodation Page ############################ */

  #hotelLink {
    color: black;
    text-decoration: none;
  }

  #hotelLink:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
  }
}

 /*########################## Contact Page ############################ */
 .contactForm h3{
  font-weight: 900;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;

}
.contactForm p{
  font-weight: 900;
}

.contactForm{
  background: #7678edff;
  display: flex;
  flex-direction: column;
  padding: 3vw 5vw;
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  
}

.contactForm input, form textarea{
  font-size: medium;
  border: 0;
  outline: none;
  margin: 5px 0;
  padding: 5px;
  width: 500px;
  background: lightgray;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.contactForm button{
  padding: 10px;
  outline: none;
  cursor: pointer;
  background-color: #f7b801ff;
  border-radius: 20px;
  width: 200px;
  font-weight: 900;
}

