html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #7678edff !important;
}

/*########################## Head ############################ */
header {
    background-color: #f7b801ff;
}


/*########################## Nav Bar ############################ */
nav {
    background-color: #f35b04ff;
    border: 3px solid #f35b04ff;
    border-radius: 15px;
    display: inline-block;
    width: auto;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.nav-size-to-content {
    display: inline-flex;
}

nav a {
    padding: 10px;
    color: black;
    margin: 2px;
    background-color: white;
}

nav a:hover {
    background-color: #f35b04ff;
    overflow: hidden;
    color: white;
    text-decoration: none;
}

a:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

a:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/*########################## footer ############################ */
footer {
    background-color: #f7b801ff;
}


/*########################## Main Body ############################ */
main {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*########################## Font/Text Styles ############################ */


/* Individual Pages */

/*########################## Budget Page ############################ */








.budgetContainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

#budgetCalTitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.clearFix::after {
    content: "";
    display: table;
    clear: both;
}

.right {
    float: right;
}


.valueBudget {}

.incomeBudget {}

.budgetIncometext {}

.budgetIncomeValue {}

.budgetIncomePercentage {}

.budgetExpenses {}

.budgetExpensesText {}

.budgetExpenseValue {}

.budgetExpensesPercentages {}

.calBottom {}

.addBtnCal {}

.calContainerAdd {}

.addTypeCal {}

.addDescriptionCal {}

.addValueCal {}

.checkmarkOutlineCal {}

.containerCal {}

.income {}

.incomeTitle {}

.incomeList {}

.expenses {}

.titleExpenses {}

.listExpenses {}