<html lang="en">
    <%- include ("./partials/head.ejs") %>
<body>

    <h1>Ooops</h1>
    <h2>404 - This Page couldn't be found</h2>
    

    <%- include ("./partials/footer.ejs") %>
</body>
</html>