<html lang="en">
<!--partial for the head tag -->
<%- include ("./partials/head.ejs") %>

    <body>

        <%- include ("./partials/header.ejs") %>

        <!-- Main Content -->
        <main class="container">
            <div class="col">
                <div class="col">
                    <h1>Accommodation page</h1>
                    <p>At Mytinerator, we understand that finding the right accommodation can make or break your travel experience. That's why we've designed a seamless, user-friendly search feature to help you discover the best places to stay, no matter where your journey takes you.</p>
                    <div class="card p-3 mx-auto">
                        <img id="accommPic" src="/images/accomm/hotelroom.JPG" alt="">
                    </div>
                </div>
                <div class="row p-2 mx-auto">
                    <div class="col">
                        <p>Simply enter the name of the city you're planning to visit.</p>
                    </div>
                    <div class="col">
                        <p>Our powerful API scours our database to present you with a range of accommodation choices.</p>
                    </div>
                </div>    
                    <div class="row">
                        <div class="col">
                            <img id="accommPic1" src="/images/accomm/hotelroom1.JPG" alt="">
                            <img id="accommPic1" src="/images/accomm/hotelroom2.JPG" alt="">
                            <img id="accommPic1" src="/images/accomm/hotelroom5.JPG" alt="">

                        </div>
                        <div class="col">
                            <img id="accommPic1" src="/images/accomm/hotelroom3.JPG" alt="">
                            <img id="accommPic1" src="/images/accomm/hotelroom4.JPG" alt="">
                            <img id="accommPic1" src="/images/accomm/hotelroom5.JPG" alt="">
                        </div>
                    </div>
                <div class="row">
                    <div class="col">
                        <div id="infoCard" class="card p-3 mx-auto">
                            <div>
                                <h1 class="text-center">Search accommodation</h1>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="location" class="form-control" placeholder="Enter City">
                                <div class="input-group-append">
                                    <button type="button" id="accommBtn" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h2 id="place" class="card-title"></h2>
                                    <div class="card-body" class="card p-3" id="accommResults">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <%- include ("./partials/footer.ejs") %>
        <%- include ("./partials/scriptCollection.ejs") %>
            
            
    </body>

</html>