<html lang="en">
<!--partial for the head tag -->
<%- include ("./partials/head.ejs") %>

    <body>

        <%- include ("./partials/header.ejs") %>

        <!-- Main Content -->
        <main class="container">
            <div class="row">
                <div class="col">
                    <div class="regForm" id="regForm">
                        <h1>Register</h1>
                        <form action="">
                            <input type="text" placeholder="Name" id="nameReg">
                            <input type="email" placeholder="Email" id="emailReg">
                            <input type="text" placeholder="Password" id="pwordReg">
                        </form>
                        <button id="submitRegBtn">Register</button>
                        <a href="#" id="logLink">Login</a>
                  </div>
                  <div class="logForm" id="logForm">
                    <h1>Login</h1>
                    <form action="">
                        <input type="email" placeholder="Email" id="emailLogin">
                        <input type="text" placeholder="Password" id="pwordLogin">
                    </form>
                    <button id="submitLoginBtn">Login</button>
                    <a href="#" id="regLink">Register</a>
                </div>
                </div>
                </div>
            </div>
        </main>

        <%- include ("./partials/footer.ejs") %>
        <%- include ("./partials/scriptCollection.ejs") %>
            
            
    </body>

</html>