<html lang="en">
<!--partial for the head tag -->
<%- include ("./partials/head.ejs") %>
<!--link rel="stylesheet" href="../css/budgetCal.css"-->
<body>

    <%- include ("./partials/header.ejs") %>

        <!-- Main Content -->
        <main class="container">
            <div class="row">
                <div class="col">
                    <div class="budgetContainer">
                        <div class="calTop">
                            <!--Calculators Title-->
                            <div id="budgetCalTitle">
                                <h2> Your Budget Calculator </h2>
                                <p> A help tool for updating your Itinerary information with the correct costing</p>
                            </div>
                            <div class="input-group">
                                <label for="limitAmount">Set Limit: </label>
                                <input type="number" id="limitAmountId" placeholder="Enter limit amount">
                            </div>
                            <div class="input-group">
                                <label for="detailsLabel">Details: </label>
                                <input type="text" id="detailsId" placeholder="Enter details">
                            </div>
                            <p>Please make sure to add a (-) subtraction sign when adding in an expenditure cost</p>
                            <div class="input-group">
                                <label for="costInput">Cost: </label> 
                                <input type="number" id="costInputAmount" placeholder="Enter cost amount">
                            </div>
                           
                            <button onclick="addTransaction()">Add +</button><br><br>
                            <button onclick="subtractTransaction()">Subtract -</button>
                            <br><br>
                            <h2>Remaining Amount: <span id="remainingAmount">€ 0</span></h2>
                            <ul id="transactionList"></ul>

                      

                        </div>
                    </div>
                </div>
        </main>

        <%- include ("./partials/footer.ejs") %>
        <%- include ("./partials/scriptCollection.ejs") %>
         <script src="/back-end/js/budgetCal.js"></script>
        
</body>
</html>
