<html lang="en">
<!--partial for the head tag -->
<%- include ("./partials/head.ejs") %>

    <body>

        <%- include ("./partials/header.ejs") %>

        <!-- Main Content -->
        <main class="container">
            <div class="row">
                <div class="col">
                    <div class="weatherDiv">
                        <h1>Search weather for any location</h1>            
                        <input type="text" id="location" placeholder="Enter your location"><br><br>
                        <button type="button" id='weatherBtn' onclick="loadweather()">Search</button>
                    </div>
                        <div class="weatherCard">
                            <form action="">
                                <h1 id="place"></h2>
                                <img id="weatherImg" src="/images/weather/Base.png" alt="">
                                <p id="sky">Overview: </p>
                                <p id="humidity">Humidity: </p>
                                <p id="temp">Temperature: </p>
                                <p id="feels">Feels Like: </p>
                                <p id="tempMax">Max Temperature: </p>
                                <p id="tempMin">Min Temperature: </p>
                                <p id="wind">Wind Speed: </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include ("./partials/footer.ejs") %>
        <%- include ("./partials/scriptCollection.ejs") %>
            
            
    </body>

</html>