<html lang="en">
<%- include ("./partials/head.ejs") %>

    <body class="mainBody">

        <h1>Destination Information page</h1>

        <%- include ("./partials/nav.ejs") %>

        <div class="weatherDiv">            
            <input type="text" id="theCity" placeholder="Enter your location"><br><br>
            <button type="button" onclick="loadweather()">Search</button>
        </div>
            <div class="weatherCard">
                <form action="">
                    <h1 id="city"></h2>
                    <p id="humidity">Humidity: </p>
                    <p id="temp">Temperature: </p>
                    <p id="feels">Feels Like: </p>
                    <p id="tempMax">Max Temperature: </p>
                    <p id="tempMin">Min Temperature: </p>
                    <p id="wind">Wind Speed: </p>
                </form>
            </div>
        </div>
        

        <%- include ("./partials/footer.ejs") %>
    </body>

</html>