<html lang="en">
<%- include ("./partials/head.ejs") %>

    <body class="mainBody">

        <h1>Destination Information page</h1>

        <%- include ("./partials/nav.ejs") %>


        <%- include ("./partials/footer.ejs") %>
    </body>

</html>