<html lang="en">
    <!--partial for the head tag -->
    <%- include ("./partials/head.ejs") %>
<body>
    <!--partial for the header tag -->
    <%- include ("./partials/header.ejs") %>

    

    <main class="d-flex justify-content-center align-items-center">
        <div class="main-content w-100" style="max-width: 800px;">
            <h2>Main Content Area</h2>
            <p>This is the main part of the website that stays in the center of the page, leaving some space on the sides.</p>
        </div>
    </main>
    
    
    
    
    <!--partial for the footer tag -->
    <%- include ("./partials/footer.ejs") %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>