<html lang="en">
<!--partial for the head tag -->
<%- include ("./partials/head.ejs") %>

    <body>

        <%- include ("./partials/header.ejs") %>

            <!-- Main Content -->
            <main class="container">
                <div class="row">
                    <div class="col">
                        <!--<div class="regForm" id="regForm">
                            <h1>Register</h1>
                            <form action="">
                                <input type="text" placeholder="Name" id="nameReg">
                                <input type="email" placeholder="Email" id="emailReg">
                                <input type="text" placeholder="Password" id="pwordReg">
                            </form>
                            <button id="submitRegBtn">Register</button>
                            <a href="#" id="logLink">Login</a>
                        </div>-->

                        <div class="regForm" id="regForm">
                            <div class="regStyle">
                                <h1 class="text-center">Register</h1>
                                <form action="">
                                    <div class="form-group">
                                        <label for="nameReg">Name</label>
                                        <input type="email" class="form-control" placeholder="Name" id="nameReg"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="emailReg">Email</label>
                                        <input type="email" class="form-control" placeholder="Password" id="emailReg"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="pwordReg">Password</label>
                                        <input type="password" class="form-control" placeholder="Password" id="pwordReg"
                                            required>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block"
                                        id="submitRegBtn">Register</button>
                                </form>
                                <div class="text-center mt-3">
                                    <a href="#" id="logLink">Login</a>
                                </div>
                            </div>
                        </div>


                        <!--<div class="logForm" id="logForm">
                            <h1>Login</h1>
                            <form action="">
                                <input type="email" placeholder="Email" id="emailLogin">
                                <input type="text" placeholder="Password" id="pwordLogin">
                            </form>
                            <button id="submitLoginBtn">Login</button>
                            <a href="#" id="regLink">Register</a>
                        </div>-->
                        <div class="logForm" id="logForm">
                            <h1 class="text-center">Login</h1>
                            <form action="">
                                <div class="form-group">
                                    <label for="emailLogin">Email</label>
                                    <input type="email" class="form-control" placeholder="Email" id="emailLogin"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="pwordLogin">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" id="pwordLogin"
                                        required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block"
                                    id="submitLoginBtn">Login</button>
                            </form>
                            <div class="text-center mt-3">
                                <a href="#" id="regLink">Register</a>
                            </div>

                        </div>
                        <br>
                        <div class="col">
                            <div class="col-md-6">
                                <img src="/front-end/images/index/planeCloud.png" alt="planeCloud">
                                <img src="/front-end/images/index/mountainPeople.jpg" alt="mountainPeople">
                                <img src="/front-end/images/index/hillTownSea.jpg" alt="hillTownSea">
                            </div>
                            
                            <h2>Welcome to MYTINERATOR</h2>
                            <div class="rowIndex">
                                <div class="columnIndex">

                                    <!--https://www.lipsum.com/feed/html-->
                                    Nunc nunc dui, vehicula iaculis risus ut, sagittis gravida tellus.
                                    Vivamus molestie neque sapien, ut dapibus justo blandit rhoncus.
                                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                    himenaeos.
                                    Aliquam a pharetra tellus. Vestibulum massa enim, fermentum ac vehicula sit amet,
                                    mollis quis enim.
                                    Morbi consequat ut nulla in malesuada. Nunc vulputate viverra odio tempor efficitur.
                                    Aenean condimentum, diam sit amet fermentum varius, ante dolor fringilla sapien,
                                    euismod euismod mi mauris et nunc. Nullam malesuada ex ut nulla elementum tincidunt.
                                    In pharetra cursus lacus, nec fringilla nisi cursus sit amet. Aliquam et sapien
                                    ipsum. Suspendisse ut nunc nec lectus consequat auctor. Sed accumsan eu nibh eget
                                    vulputate. Mauris facilisis gravida ex, eget gravida enim gravida vitae. Donec
                                    dignissim dolor non sem vehicula gravida.
                                    Praesent vestibulum elit non turpis consectetur, id fringilla risus viverra.
                                </div>
                                <div class="columnIndex">
                                    Curabitur sed enim vel nisl fringilla tempor. Donec gravida ligula vitae quam
                                    suscipit eleifend.
                                    Morbi sagittis massa non augue cursus commodo. Vivamus consequat, ligula vitae
                                    volutpat accumsan,
                                    enim purus convallis orci, sit amet ornare sem risus eu nulla. Pellentesque nec
                                    dictum leo. Phasellus
                                    tincidunt velit quis dolor gravida, auctor pharetra ipsum efficitur. Mauris ac
                                    turpis vel lorem placerat
                                    sodales nec vitae mi. Proin mattis in ipsum a sollicitudin. Nulla vitae mollis nibh.
                                    Quisque nec sem tortor.
                                    Pellentesque sollicitudin sed tellus ut commodo. Nam non arcu laoreet, vestibulum
                                    sem tempus, lacinia est. Sed congue enim interdum ultrices dictum.
                                    Aliquam consequat massa et orci aliquet, in sodales erat hendrerit. Aenean finibus
                                    congue luctus.

                                </div>

                                <!--img src="/front-end/images/index/planeCloud.jpg" alt="planeCloud"-->
                            </div>
                            <br>
                            <h2> Subscription Packages</h2>
                            <p> Here are MYTINERATOR we offer our Users two package deals to be able to experiecne the excellence of our platform</p>
                            <div class="row rowSub">
                                <div class="col-md-6 columnSubLeft">
                                    <h3>MYTINLIFE Subscription</h3>
                                    <table>
                                        <tr>
                                            <td> Cost per Month/ Year: €</td>
                                            <td> 5 per month / 120 per year</td>
                                        </tr>
                                        <tr>
                                            <td> Access Allowance: </td>
                                            <td> General *more Information below</td>
                                        </tr>
                                        <tr>
                                            <td> Login Needed: </td>
                                            <td> Yes</td>
                                        </tr>
                                        <tr>
                                            <td> Group Access: </td>
                                            <td> No</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6 columnSubRight">
                                    <h3>MYTIN4Ever Subscription</h3>
                                    <table>
                                        <tr>
                                            <td> Cost per Month/ Year: €</td>
                                            <td> 10 per month / 150 per year</td>
                                        </tr>
                                        <tr>
                                            <td> Access Allowance: </td>
                                            <td> Premier *more Information below</td>
                                        </tr>
                                        <tr>
                                            <td> Login Needed: </td>
                                            <td> Yes</td>
                                        </tr>
                                        <tr>
                                            <td> Group Access: </td>
                                            <td> Yes</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-10 columnSubRight">
                                    <br><br> <h3>Further Information</h3>
                                    <p>General Access is for users who have subscribe to the MYTINLIFE Subscription. They will have access to the 
                                        Account Page, Budget Calculator, Itinerary, Destination pages.
                                        Vestibulum sit amet viverra erat. Duis viverra consectetur commodo. Curabitur a varius ligula. Nullam dignissim nulla feugiat diam fringilla, porta fermentum tellus rhoncus. Aliquam blandit lacus ligula, vitae fermentum enim mattis vitae. Etiam dapibus turpis at rhoncus scelerisque. Fusce vitae euismod quam. Ut rutrum eleifend tortor nec auctor. 
                                        Mauris mollis dui ac maximus congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                    <p> Premier Access is for users who have subscribe to the MYTIN4Ever Subscription. They will have access to the 
                                        Account Page, Budget Calculator, Itinerary, Accommodation, Rentals, Destination pages. Along with these extra pages and more extras the Users will be able to link their
                                        accounts with their Families and friends. Vestibulum sit amet viverra erat. Duis viverra consectetur commodo. Curabitur a varius ligula. Nullam dignissim nulla feugiat diam fringilla, porta fermentum tellus rhoncus. Aliquam blandit lacus ligula, vitae fermentum enim mattis vitae. Etiam dapibus turpis at rhoncus scelerisque. Fusce vitae euismod quam. 
                                        Ut rutrum eleifend tortor nec auctor. Mauris mollis dui ac maximus congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                                    </p>
                               
                                </div>
                            </div>
                        </div>
                    </div>>

                </div>
            </main>

            <%- include ("./partials/footer.ejs") %>
                <%- include ("./partials/scriptCollection.ejs") %>


    </body>

</html>