<!DOCTYPE html>
<html lang="en">
    <!--partial for the head tag -->
    <%- include ("./partials/head.ejs") %>
<body>
    <!--partial for the header tag -->
    <%- include ("./partials/header.ejs") %>

    <h1> Index Page</h1>
    <p id="demo"></p>

    <!-- This is a EJS test message -->
    <% var sMessage="Hello there from EJS" %>
    <%= sMessage %>

    
    <!--partial for the footer tag -->
    <%- include ("./partials/footer.ejs") %>
</body>
</html>

