<html lang="en">
<!--partial for the head tag -->
<%- include ("./partials/head.ejs") %>

    <body>

        <%- include ("./partials/header.ejs") %>

        <!-- Main Content -->
        <main class="container">
            <div class="row">
                <div class="col">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, explicabo soluta debitis quaerat, officia totam impedit assumenda error esse aut, iure id nesciunt quae hic nostrum accusantium alias sit porro.
                </div>
            </div>
        </main>

        <%- include ("./partials/footer.ejs") %>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</html>