<html lang="en">
<!--partial for the head tag -->
<%- include ("./partials/head.ejs") %>

    <body class="mainBody">
        <h1> Index Page</h1>
        <%- include ("./partials/nav.ejs") %>

            <!-- This is a EJS test message -->
            <% var sMessage="Hello there from EJS !" %>
                <%= sMessage %>
                    <!--partial for the footer tag -->
                    <%- include ("./partials/footer.ejs") %>
    </body>

</html>