<html lang="en">
<%- include ("./partials/head.ejs") %>

    <body class="mainBody">

        <h1>Itinerary page</h1>
        <!--Nav bar-->
        <%- include ("./partials/nav.ejs") %>


        <div class="itin_mainBody">

            
        </div>





         <!--Footer bar-->
        <%- include ("./partials/footer.ejs") %>
    </body>

</html>