<html lang="en">
<!--partial for the head tag -->
<%- include ("./partials/head.ejs") %>

    <body>

        <%- include ("./partials/header.ejs") %>

        <!-- Main Content -->
        <main class="container">
            <div class="col">
                <div class="col">
                    <h1>Hotel</h1>
                    <img id="accommImage" src="/images/accomm/hotelroom.JPG" alt="">
                </div>
            </div>
        </main>

        <%- include ("./partials/footer.ejs") %>
        <%- include ("./partials/scriptCollection.ejs") %>
            
            
    </body>

</html>