<nav>
    <a href="/">Home | </a>
    <a href="/budget">Budget Page | </a>
    <a href="/accommodation">Accommodation Page | </a>
    <a href="/account">Account Page | </a>
    <a href="/contact">Contacts Page | </a>
    <a href="/destination">Destination Information Page | </a>
    <a href="/rentals">Rentals Page</a>
</nav>