<!--<nav class="navbar-expand-lg navbar-light row">
    <div class="container-fluid d-flex justify-content-start">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav d-flex justify-content-between w-auto">
                <li class="nav-item"><a class="nav-link" href="/budget">Budget Page</a></li>
                <li class="nav-item"><a class="nav-link" href="/accommodation">Accommodation Page</a></li>
                <li class="nav-item"><a class="nav-link" href="/account">Account Page</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contacts Page</a></li>
                <li class="nav-item"><a class="nav-link" href="/destination">Destination Information Page</a></li>
                <li class="nav-item"><a class="nav-link" href="/rentals">Rentals Page</a></li>
                
            </ul>
        </div>
    </div>
</nav>-->

<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/budget">Budget</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accommodation">Accommodation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account">Pricing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/destination">Destination</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rentals">Rentals</a>
          </li>
        
      </ul>
    </div>
  </nav>